.home-main {
    .hero {
        height: 400px;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            top: -293px;
            object-fit: contain;
        }
        article {
            position: relative;
            top: 2rem;
            left: 46rem;
            width: 200px;
            background: white;
            padding: 2rem;
            text-align: left;
            margin: 0 auto;

            h2 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1.2rem;
            }  
        }
        
    }
    .features-container {
        display: flex;
        flex-direction: row;
        text-align: center;
        figure {
            flex: 1;
            padding: 2.5rem;
            img {  
                width: 100px;
                border: 10px solid #00bc77;
                border-radius: 50%;
                padding: 1rem;}
            h3 {
                color: #222;
                font-size: 1.25rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            p {}
        }
    }
}