div {
    display: flex;
    flex-direction: column;
    .user-main {
        background-color: #12002b;
        flex: 1;
        .user-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            color:  white;
            margin-bottom: 2rem;
            h1 {
                font-size: 2rem;
                margin: 1rem 0 1rem 0;
            }
        
            .modal {
                display: flex;
                flex-direction: column;

                form {
                    text-align: center;
                    padding: 1rem;
                    .input-container {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 5px;
                        
                        .input-wrapper {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 1rem;
                            gap: 5px;
                            justify-content: center;
                            input {
                                border-radius: 5px;
                                padding: 5px;
                                width: 7rem;
                            }
                        }
                    }
                    .button-container {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 10px;
                        justify-content:space-between;
                        button {
                            display: block;
                            padding: 10px 30px;
                            width: 8rem;
                            font-size: 16px;
                            font-weight: bold;
                            border-color: transparent;
                            background-color: #00bc77;
                            border-radius: 5px;
                            color: #fff;
                    }}
                }

                .form-button {
                    display: block;
                    padding: 10px;
                    font-weight: bold;
                    margin-top: 1rem;
                    border-color: #00bc77;
                    background-color: #00bc77;
                    color: #fff;
                } 
            } 
        }


        .user-account {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            background-color: #fff;
            width: 80%;
            margin: 0 auto;
            flex-direction: row;
            padding: 1.5rem;
            box-sizing: border-box;
            margin-bottom: 2rem;
            .account-content {
                text-align: left;
                flex: 1;
                width: 100%;
                h2 {
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    font-weight: normal;
                }
                .account-amount {
                    margin: 0;
                    font-size: 2.5rem;
                    font-weight: bold;
                }
                .account-amount-description {
                    margin: 0;
                }
            }
            .account-button {
                flex: 0;
                button {
                    display: block;
                    padding: 8px;
                    text-wrap: nowrap;
                    font-size: 1.1rem;
                    font-weight: bold;
                    margin-top: 1rem;
                    border-color: #00bc77;
                    background-color: #00bc77;
                    color: #fff;
                }
            }
        }
    }  
}

@media (max-width: 720px) {
    div .user-main .user-account {
        flex-direction: column;
        .user-content {
            flex: 0;
        }
        .account-button {
            width: 100%;
        }
    } 
}