header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

header img {
  width: 200px;
  max-width: 100%;
}

header nav ul {
  gap: 0.5rem;
  font-weight: bold;
  align-items: center;
  margin-right: 0.5rem;
}

header nav ul li span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

header .signOut {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header p, header ul, header li {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

footer p {
  margin: 0;
  padding: 0;
}
