header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    img {
        width: 200px;
        max-width: 100%;
    }
    nav {
        ul,li {
            padding: 0;
            margin: 0;
            list-style: none;
            font-weight: bold;
            color: #2c3e50;

            margin-right: 0.5rem;
            a {
                text-decoration: none;   
            }
      }
    }

}

footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;
}