header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    img {
        width: 200px;
        max-width: 100%;
    }
    nav {
        ul {
            gap: 0.5rem;
            font-weight: bold;  
            align-items: center;
            margin-right: 0.5rem;
            li {
                
                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.25rem;
                }
            }
        }
    }
    .signOut {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
    }
    a {
        text-decoration: none;
        color: inherit;
    } 
    p , ul , li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

}

footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;
    p {
        margin: 0;
        padding: 0;
    }
}